*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
body{
    margin: 0px;
    text-align: center;
}
#containsEverything{
    width: 900px;
    text-align: center;
    margin: 0 auto;
}
span, #header {
    top: 0px;
    height: auto;;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 60px;
    border: 0px;
    margin: 0px;
    padding: 10px;
    text-align: center;
}
#seqInput{
    text-align: left;
}
#seqNameDiv{
    margin-left: 10px;
    display: inline-block;
}
#seqInputName{
    border-radius: 4px;
    margin: 10px;
    vertical-align: bottom;
}
#seqName{
    display: inline-block;
    padding-bottom: 10px;
}
#textAreaTitle{
    margin-left: 10px;
}
#target{
    outline:none;
    margin: 10px;
    border-radius: 20px;
    padding: 16px;
    font-family: 'Source Code Pro', sans-serif;
}

#options2 {
    margin: 0 auto;
    width: 895px;
    text-align: left;

}
.element{
    width: 250px;
    display: inline-block;
    text-align: left;
    margin: 5px;
    vertical-align: top;
}

.element2{
    text-align: left;
    margin: 5px;
    width: 250px;
}
#resEnzyme{
    display: none;
}


.button{
    text-align: center;
}

#advancedOptions{
    display: none;
}
#customFeatureName{
    border-radius: 4px;
}
#customFeatureArea {
    outline:none;
    border-radius: 10px;
    padding: 16px;

}

#customFeatureText {
    display: none;;
}


#button{
    outline:none;
    border-radius: 60px;
    width: 80px;
    height: 50px;
    border: 0.5px black solid;
    margin: 30px;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Share Tech Mono', monospace;
}


#demo {
    margin-left: auto;
    margin-right: auto;
    display: none;
    z-index: 20;
    padding-top: 360px;
}

#outer{
    height: 1000px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    visibility: hidden;
    text-align: left;
}

.canvas {
    position: absolute;
    text-align: left;
}

#matches{
    position: relative;
}
