*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0px;

}
#outer{
    position: relative;
    height: 1000px;
    width: : 1000px;
}

#canvas {
    border: solid grey 1px;
    position: absolute;
}
#canvas2{
    border: solid grey 1px;
    position: absolute;
}
#matches{
    position: relative;
}

h1 {
    font-size: 60px;
    border: 0px;
    margin: 0px;
}

#header {
    top: 0px;
    overflow: hidden;
    height: 60px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red , yellow); /* Standard syntax */
}


h3 {
    border: 0px;
    margin: 0px;
}
